.logo {
	background-image:url(title.png);
	background-repeat: no-repeat;
}
.entry {
	position: relative;
}
.entry .destroy {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(destroy.png) no-repeat;

}


.entry:hover .destroy {
  	display: block;
}

.entry .destroy:hover {
  	background-position: 0 -20px;
}
img.eudc{
-webkit-transition:-webkit-transform 0.2s ease-in; 
}
img.eudc:hover {
	-webkit-transform:scale(3);
}
img.glyphwiki{
-webkit-transition:-webkit-transform 0.3s ease-in; 
}
img.glyphwiki:hover {
	-webkit-transform:scale(5);
	background:white;
}

