.logo {
	background-image:url(title.png);
	background-repeat: no-repeat;
}
.entry {
	position: relative;
}
samepy:hover {text-decoration: underline;color:blue;cursor:pointer;}
samezy:hover {text-decoration: underline;color:blue;cursor:pointer;}

.nav-tabs li.active a {color:white;background: #428bca}
.nav-tabs li.active a:hover {color:white;background: #357ebd}

.entry .destroy {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(destroy.png) no-repeat;

}


.entry:hover .destroy {
  	display: block;
}

.entry .destroy:hover {
  	background-position: 0 -20px;
}
img.eudc{
-webkit-transition:-webkit-transform 0.2s ease-in; 
}
img.eudc:hover {
	-webkit-transform:scale(4);
}
img.glyphwiki{
-webkit-transition:-webkit-transform 0.3s ease-in; 
}
img.glyphwiki:hover {
	-webkit-transform:scale(3);
	background:white;
}

