<div class="row">
	<div class="col-md-6">開放康熙字典 <a target=_new href="http://www.adcs.org.tw">中華開放古籍協會</a></div>
	<div class="col-md-6">
<p align="right"><a id="btnexcerptcopy" class="btn btn-primary">引用複製</a> <a id="btncopy" class="btn btn-primary">一般複製</a> <a id="btnclearall" class="btn btn-primary">全部清除</a></div>

