<p align="right"><a id="btncopy" class="btn btn-primary">Copy</a> <a id="btnclearall" class="btn btn-primary">Clear All</a></p>
<div class="texts">
</div>

<p align="center">開放康熙字典 <a target=_new href="http://www.adcs.org.tw">中華開放古籍協會</a></a>